# Ignore Mac system files
.DS_Store
notebooks/.DS_Store

# Ignore Python cache
__pycache__/
*.pyc

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environments
venv/

# Ignore data files (optional, if you don’t want datasets in repo)
*.csv
*.xlsx

# Ignore datasets
/data/*
!data/README.md

